<!-- <form novalidate (ngSubmit)="createToken()" [formGroup]="stripeTest">
  <input type="text" formControlName="name" placeholder="Jane Doe" />
  <ngx-stripe-card placeholder="Jane Doe" [options]="cardOptions" [elementsOptions]="elementsOptions"></ngx-stripe-card>
  <button (click)="createToken()" type="submit">
    Pay
  </button>
</form> -->

<div class="container-fluid p-0">
  <div class="conatiner">
    <div class="row col-md-12 justify-content-center">
      <div class="col-md-6 " style="height: 200 px;width: 200px;">
        <div class="card text-blank border-0">
          <div class="card body">
            <div class="heading" style="text-align: center;">
              <h2>Payment</h2>
            </div>
            <form novalidate [formGroup]="stripeForm">
              <div class="col-md-12 col-lg-12 col-xl-12 col-sm-12 al_input_div">
                <input type="text" formControlName="name" placeholder="Name On Card" class="al_input _cardName">
              </div>
                <div class="col-md-12 col-sm-12 col-lg-12 mt-2">
                  <ngx-stripe-card [options]="cardOptions"  [elementsOptions]="elementsOptions"></ngx-stripe-card>
                </div>
                <p class="card_error">{{ cardErrorMessage }}</p>
              </form>
            <div class=" text-center">
              <!-- <button type="submit" class="btn btn-primary ">Pay</button> -->
              <button type="button" [disabled]="!stripeForm.valid" (click)="createToken()" class="btn btn-primary btn-lg">Pay</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
