.form-group{
    text-align: justify;
}
.form-row{
   padding-top: 50px;
   padding-bottom: 30px;
}
.heading{
    margin-top: 20px;
}
.btn{
  margin-left:15px;
  margin-bottom: 80px;
  padding-left:40px;
  padding-right:40px;
  font-size:20px;
}

input{
    border:2px solid indigo;
}

.stripe{
    box-shadow: 2px 2px 2px 2px #888888; 
    background-color:#888888;
   
}

