.telative {
    background-color:rgb(102, 0, 128);;
}
.mat-icon-button.navBtn {
    width: 25px;
    img {
        max-width: 100%;
    }

    &:focus {
        outline: none;
    }
}
.header-actions {
    .mat-menu-trigger {
        width: auto;
        color: #ffffff;
    }
}

::ng-deep .mymegamenu {
    button {
        outline: none;
    }
    a.mat-menu-item:hover {
        text-decoration: none !important;
        color: rgba(0, 0, 0, 0.87) !important;
    }
}

.mat-link-button {
    width: auto;
}

.app-header-logo {
    width: 65px;
    height: 63px;
    padding: 15px;
    margin-left: -5px;
}

.link-class {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    margin-right: 10px;
}

.logout_div {
    text-align: end;
    padding: 15px;

}
.open-close-btn {
    color: white;
    font-size: 28px;
}
.navBtn {
    top:13px
}
span.opcode1 {
    margin-right: 0;
    font-size: 13px;
    color: white;
}
